.App {
    background-image: url('https://cdn.pixabay.com/photo/2012/12/24/08/39/backdrop-72250__480.jpg');
    text-align: center;
    height: 100vh;
    max-width: 1024px;
    min-height: fit-content;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.App-h1 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.App-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-image: url('http://bgfons.com/uploads/wood/wood%20_texture3177.jpg');
  min-height: 20vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.add-note-form {
  width: 60vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::placeholder {
  color:lightcoral;
}

.add-note-form__item {
  margin: 5px 0;
  padding: 1vh;
  font-size: calc(10px + 1vmin);
}

.add-note-form__item--title {
  background-color: firebrick;
  color: white;
  font-weight: bold;
}

.add-note-form__item--text {
  background-color: beige;
  resize: none;
}

.add-note-form__item--add {
  font-weight: bold;
  padding: 1vh;
  color: white;
  background-color: lightcoral;
  font-size: calc(15px + 1vmin);
}

.App-main {
  background-image: url('https://cdn.pixabay.com/photo/2012/12/24/08/39/backdrop-72250__480.jpg');
  padding: 1vh;
  padding-bottom: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.no-notes {
  width: 100%;
  background-color: white;
}

.note {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1vh 2vh;
  height: 200px;
  width: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.note__item {
  width: 100%;
  padding: 0 5px;
  margin: 0;
  word-break: break-all;
  font-size: calc(10px + 1vmin);
}

.note__item--close {
  position: absolute;
  text-align: unset;
  padding: 0;
  top: 2px;
  right: 0px;
  width: fit-content;
  text-align: right;
  cursor: pointer;
  color: lightcoral;
}

.note__item--title {
  width: 180px;
  padding: 0 10px 10px 10px;
  border-radius: 5px 5px 0 0;
  background-color: firebrick;
  color: white;
}

.note__item--date {
  font-size: calc(5px + 1vmin);
  padding-bottom: 10px;
  background-color: firebrick;
  color: lightgrey;
}

.note__item--text {
  border-radius: 0 0 5px 5px;
  background-color: beige;
  height: 100%;
  overflow-x: hidden;
  text-decoration: underline;
  line-height: 30px;
  white-space: pre-wrap;
}

.App-footer {
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: calc(10px + 1vmin);
}